@import 'primereact/resources/themes/lara-light-indigo/theme.css'; /* ou outro tema de sua preferência */
@import 'primereact/resources/primereact.min.css'; /* Estilos principais do PrimeReact */
@import 'primeicons/primeicons.css'; /* Ícones do PrimeIcons */
@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-dropdown-panel{
  background-color: white;
}

/* Estilizando as barras de rolagem */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Cor azul para o "polegar" da barra de rolagem */
  border-radius: 6px;
  border: 3px solid #f1f1f1; /* Borda suave para o polegar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
  border-radius: 6px;
}

::-webkit-scrollbar:hover {
  width: 16px; /* Aumenta a largura da barra de rolagem quando o cursor passa por cima */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Cor mais escura quando o "polegar" é destacado */
}
